.booking {
  padding: 50px 0 49px 0;
  background-color: #61bad8;
  background-image: url("../img/jpg/booking-background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center -26px;

  @media (min-resolution: 2dppx) {
    .booking {
      background-image: url("../img/jpg/booking-background-retina.jpg");
    }
  }

  h2 {
    font-family: "Montserrat", "Arial", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 60px;
    color: #011c40;
    margin: 0;
    margin-bottom: 10px;
    display: block;
    width: 493px;
  }

  p {
    font-family: "Montserrat", "Arial", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    color: #011c40;
    margin: 0;
    display: block;
    width: 352px;
  }

  .booking__container {
    padding: 0 163px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.booking__text-wrapper {
  width: 493px;
  margin-top: -7px;
}

@media (min-width: 1024px) and (max-width: 1240px) {
  .booking {
    background-position: center;

    h2 {
      width: 440px;
    }

    .booking__container {
      padding: 0 100px;
    }

    .booking__text-wrapper {
      width: 440px;
    }
  }
}

@media (min-width: 1096px) and (max-width: 1300px) {
  .booking {
    h2 {
      width: 440px;
    }
  }
}

@media (max-width: 1023px) {
  .booking {
    background-position: center;
    padding: 100px 0;

    h2 {
      margin-bottom: 25px;
      margin-top: 0;
      text-align: center;
    }

    p {
      margin-bottom: 60px;
      text-align: center;
      display: block;
      max-width: 355px;
    }

    .booking__container {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 0;
    }
  }

  .booking__text-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
}

@media (max-width: 767px) {
  .booking {
    background-position: -302px center;
    padding: 65px 0;

    h2 {
      font-size: 24px;
      line-height: 31px;
      text-align: center;
      display: inline;
      width: auto;
    }

    p {
      margin-bottom: 40px;
      display: inline;
      width: auto;
    }

    .booking__container {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 0 15px;
    }

    .booking__text-wrapper {
      width: 100%;
    }
  }
}

