.contacts {
  padding: 120px 0 121px 0;

  p {
    font-family: "Montserrat", "Arial", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    color: #011c40;
    margin: 0;
    margin-bottom: 31px;
  }

  .contacts__container {
    padding: 0 103px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
}

.contacts__map {
  width: 560px;
  height: 306px;

  iframe {
    width: 100%;
    height: 306px;
    border: none;
  }
}

.contacts__text-wrapper {
  max-width: 500px;
  margin-top: 76px;
}

@media (min-width: 1024px) and (max-width: 1300px) {
  .contacts__text-wrapper {
    max-width: 370px;
  }

  .contacts__map {
    width: 400px;
  }
}

@media (max-width: 1023px) {
  .contacts {
    padding: 100px 0 97px 0;

    p {
      margin-bottom: 27px;
    }

    .contacts__container {
      padding: 0 45px;
    }
  }

  .contacts__text-wrapper {
    max-width: 325px;
    margin-top: 66px;
  }

  .contacts__map {
    width: 324px;
    height: 338px;

    iframe {
      height: 338px;
    }
  }
}

@media (min-width: 800px) and (max-width: 1023px) {
  .contacts__text-wrapper {
    max-width: 350px;
  }
}

@media (max-width: 767px) {
  .contacts {
    padding: 59px 0 65px 0;

    .contacts__container {
      padding: 0 15px;
      flex-direction: column;
    }
  }

  .contacts__map {
    order: 2;
    width: 100%;
    height: 316px;

    iframe {
      width: 100%;
    }
  }

  .contacts__text-wrapper {
    margin-top: 0;
    margin-bottom: 35px;
    max-width: 98%;
  }
}
