.main-screen {
  padding: 162px 0 286px 0;

  h2 {
    font-family: "Montserrat", "Arial", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 54px;
    line-height: 66px;
    color: #f9fbfd;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    margin: 0;
    margin-bottom: 12px;
  }

  p {
    font-family: "Montserrat", "Arial", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #f9fbfd;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    margin: 0;
  }

  .main-screen__container {
    max-width: 1300px;
    padding: 0 165px;
  }
}

@media (max-width: 1023px) {
  .main-screen {
    padding: 189px 0 275px 0;

    h2 {
      font-size: 50px;
      line-height: 61px;
    }

    p {
      font-size: 18px;
      line-height: 22px;
    }

    .main-screen__container {
      width: 100%;
      max-width: 1023px;
      padding: 0 21px;
      margin: 0 auto;
    }
  }
}

@media (max-width: 767px) {
  .main-screen {
    padding: 114px 0 180px 0;


    .main-screen__menu-open {
      position: relative;
      z-index: -1;
    }

    h2 {
      font-size: 36px;
      line-height: 45px;
      margin-bottom: 11px;
    }

    p {
      font-size: 16px;
      line-height: 22px;
      display: inline-block;
      vertical-align: middle;
      width: 230px;
    }

    .main-screen__container {
      padding: 0 0;
    }
  }
}
