.main-navigation {
  display: grid;
  grid-template-columns: 150px 1fr;
  padding: 35px 55px 35px 71px;
}

.main-navigation__logo-link {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  width: 70px;
  height: 38px;
}

.main-navigation__logo-icon {
  color: #f9fbfd;
}

.main-navigation__button {
  display: none;
}

@media (max-width: 1023px) {
  .main-navigation {
    grid-template-columns: 100px 1fr;
    padding: 22px 10px 22px 21px;
  }

  .main-navigation__logo-link {
    width: 38px;
    height: 20px;
    padding-top: 8px;
  }

  .main-navigation__logo-icon {
    width: 38px;
    height: 20px;
  }
}

@media (max-width: 767px) {
  .main-navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
  }

  .main-navigation__logo-link {
    width: 42px;
    height: 22px;
    padding-top: 0;
  }

  .main-navigation__logo-icon {
    width: 42px;
    height: 22px;
  }

  .main-navigation__button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background-color: transparent;
    border: none;
    padding: 0;
    cursor: pointer;
  }

  .main-navigation__icon--closed {
    color: #f9fbfd;
  }

  .main-navigation__icon--opened {
    display: none;
  }

  // Открытие меню
  .main-navigation--menu-open {
    position: absolute;
    top: 0;
    right: 0;
    width: 90%;
    min-width: 285px;
    max-width: 677px;
    padding: 20px 15px;
    background-color: #f9fbfd;

    .main-navigation__logo-icon {
      color: #011c40;
      width: 42px;
      height: 22px;
    }

    .main-navigation__list {
      display: flex;
      flex-direction: column;
      background-color: #f9fbfd;
      position: absolute;
      top: 70px;
      left: 0;
      align-items: flex-start;
      width: 100%;
      padding-left: 10px;
      padding-bottom: 30px;
      min-height: 538px;
    }

    .main-navigation__icon--opened {
      display: flex;
      color: #f9fbfd;
    }

    .main-navigation__icon--closed {
      display: none;
    }

    .main-navigation__link {
      color: #011c40;
      font-weight: 500;
      font-size: 18px;
      line-height: 22px;
      padding: 10px;
      display: flex;
      justify-content: flex-start;
      width: 100%;
    }
  }

  // Не подгрузился Js
  .main-navigation--no-js {
    position: static;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 20px;
    background-color: #f9fbfd;
    width: 100%;

    .main-navigation__logo-icon {
      color: #011c40;
      width: 42px;
      height: 22px;
    }

    .main-navigation__logo-link {
      margin-bottom: 40px;
    }

    .main-navigation__list {
      display: flex;
      flex-direction: column;
      background-color: #f9fbfd;
      position: static;
      align-items: flex-start;
      width: 100%;
      padding-left: 10px;
      padding-bottom: 30px;
      min-height: 300px;
    }

    .main-navigation__icon--opened {
      display: flex;
      color: #f9fbfd;
    }

    .main-navigation__icon--closed {
      display: none;
    }

    .main-navigation__link {
      color: #011c40;
      font-weight: 500;
      font-size: 18px;
      line-height: 22px;
      padding: 10px;
      display: flex;
      justify-content: flex-start;
      width: 100%;
    }

    .main-navigation__button {
      display: none;
    }
  }
}
