.products {
  padding: 86px 0 120px 0;

  h2 {
    font-family: "Montserrat", "Arial", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 42px;
    color: #011c40;
    text-align: center;
    margin: 0;
    margin-bottom: 48px;
  }

  .products__container {
    padding: 0 118px;
  }
}

@media (max-width: 1360px) and (min-width: 1024px) {
  .products {
    .products__container {
      padding: 0 70px;
    }
  }
}

@media (max-width: 1023px) {
  .products {
    padding: 100px 0;

    .products__container {
      padding: 0 60px;
    }
  }
}

@media (max-width: 767px) {
  .products {
    padding: 65px 0;

    h2 {
      font-size: 24px;
      line-height: 36px;
      margin-bottom: 40px;
    }

    .products__container {
      padding: 0 25px;
    }
  }
}
