.products-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 30px;
  row-gap: 31px;
}

.products-list__item {
  display: flex;
  justify-content: center;
}


@media (max-width: 1023px) {
  .products-list {
    grid-template-columns: repeat(2, 1fr);
    row-gap: 28px;
  }
}

@media (max-width: 767px) {
  .products-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 28.7px;
  }

  .products-list__item {
    width: 100%;
  }
}
